{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EzRoutine </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    {% include 'core/navbar.html' %}
        <h1>Welcome to EzRoutine</h1>
        <p>Your ultimate destination for competitive gamers to have a consist warm up routine. If you want to see the routines that we
        provide please sign up or log in! 
    </p>

    </header>
</body>
</html>
