{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/games/">Games</a></li>
        {% if user.is_authenticated %}
        <li><a href="/routine/">Routine</a></li>
        <li><a href="{% url 'profile' %}">My Profile</a></li>

    {% else %}
        <li><a href="/signup/">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
    {% endif %}
    </ul>
</nav>
